@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  --dark-color: #000000;
  --dark-solid: #000000;
  --yellow-light: #f8d384;
  --yellow-solid: #e0ba3b;
  --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--yellow-light));
  --gradient-color-alt: linear-gradient(to right, var(--yellow-light), var(--yellow-solid));
}

@media screen and (max-width: 800px) {
  .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
@media screen and (max-width: 575px) {
  .nav-background {
    justify-content: center;
  }
}
@media (min-width: 480px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .card-precio {
    flex-grow: 1;
  }
}
/* mq contacto */
@media screen and (min-width: 768px) {
  .contact-form {
    flex: 0 0 50%;
    align-self: flex-start;
  }
  .input-group-wrap {
    display: flex;
  }
  .input-group-wrap .input-group {
    width: 50%;
    margin-right: 2rem;
  }
  .input-group-wrap .input-group:last-child {
    margin-right: 0;
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "sans-serif";
}

/* Body contacto */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* icon.cart*/
*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #000000;
}
.icon-cart:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container-icon {
  position: relative;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;
  background-color: #000000;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.container-cart-products .cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.container-cart-products .cart-product .info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}
.container-cart-products .cart-product .info-cart-product .titulo-producto-carrito {
  font-size: 20px;
}
.container-cart-products .cart-product .info-cart-product .precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}
.container-cart-products .cart-product .info-cart-product .cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}
.container-cart-products .cart-product .icon-close {
  width: 25px;
  height: 25px;
}
.container-cart-products .cart-product .icon-close:hover {
  stroke: red;
  cursor: pointer;
}
.container-cart-products .cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}
.container-cart-products .cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}
.container-cart-products .cart-total .total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}

.img {
  width: 40%;
  display: block;
}

img.img-productos {
  width: 160%;
  display: block;
  height: 130%;
}
.card:hover img.img-productos {
  transform: scale(1.2);
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.card-header {
  height: 200px;
  width: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.card-header img {
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
}

.card-title {
  text-align: center;
  margin: 0;
  color: #ffffff;
  flex-grow: 1;
  font-size: 20px;
}

.card-precio {
  flex-grow: 0;
  font-weight: 900;
  color: #ffffff;
}

.card-descuento {
  font-size: 18px;
  font-weight: 300;
  color: crimson;
  flex-grow: 0;
}

.card-body {
  border-radius: 0 0 10px 10px;
  background-color: #171205;
  padding: 20px 15px;
  text-align: justify;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.btn {
  display: block;
  background-color: #ffc107;
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

body {
  background-image: url(../assets/body-fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

.d-item {
  height: 750px;
}

.d-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.6);
}

.nuevos-disenos-tshirts {
  padding: 30px 0 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}

h2 {
  font-size: 35px;
  font-family: "Open Sans";
}

.card-sub {
  color: aliceblue;
  text-align: center;
  flex-grow: 70;
}

.card-texto {
  color: #ffda08;
  font-family: "Nunito Sans";
  text-align: left;
  flex-grow: 44444;
}

.card-titulo {
  color: rgba(255, 183, 0, 0.925);
  font-family: "Nunito Sans";
}

.text-bg-d {
  background-color: #000000;
}

.text-uppercase {
  color: rgba(255, 208, 0, 0.8431372549);
  font-family: "Nunito Sans";
}

.text-capitalize {
  color: #f8ea9d;
  font-family: "Nunito Sans";
}

.video-badays {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  background-color: #242323;
  display: flex;
}

/* Global Style */
html {
  font-size: 12px;
}

body {
  font-family: "Open Sans", "sans-serif";
  font-size: 1.6rem;
  color: var(--dark-color);
}

section {
  padding: 5rem 0;
}

/* Container style */
.container {
  width: 80%;
  max-width: 120rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.section-head {
  text-align: center;
  margin-bottom: 3rem;
}

.heading {
  display: block;
  font-size: 3rem;
  text-transform: uppercase;
}

.sub-heading {
  font-size: 1.7rem;
  font-family: "courgette", cursive;
  font-weight: 300;
  color: #000000;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 100%;
  background-image: var(--gradient-color);
  padding: 2.5rem;
  border-radius: 3rem;
}

.contact-form .input {
  display: block;
  background-color: transparent;
  color: #000000;
  font-weight: normal;
  border-bottom: 2px solid #fff;
  padding-left: 0;
}

.input-group {
  margin-bottom: 1.5rem;
  display: block;
}

.input {
  outline: none;
  border: none;
  width: 100%;
  min-width: 4rem;
  padding: 1rem;
  font-weight: bold;
  color: #000000;
  letter-spacing: 2px;
  font-family: "Open Sans", "sans-serif";
}

::-moz-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

.bar {
  display: block;
  position: relative;
}

.bar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--yellow-light);
  transform: scaleX(0);
  transform-origin: left;
  transition: tranform 0.5s;
}

.contact-form .input:focus + .bar::after {
  transform: scaleX(1);
}

.btn-div {
  display: flex;
  justify-content: center;
}

.btn {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 3.5rem;
  border: none;
  border-radius: 10rem;
  align-items: center;
  display: inline-flex;
}

.form-btn {
  margin-top: 2.5rem;
  cursor: pointer;
  background-color: var(--dark-solid);
}

.form-btn:hover {
  background-color: var(--yellow-light);
  color: #fff;
}

.dots {
  font-size: 2.4rem;
  margin-left: 0.5rem;
  opacity: 0.75;
}

.sobre-nosotros {
  text-align: center;
  background-image: url(../assets/papel-fondo.png);
  color: #343a40;
  font-size: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

strong.negrita-color {
  color: #ffc107;
}

.valores {
  color: #ffc100;
  font-size: 30px;
}

.nav-background {
  background-color: #ffbb00;
}

.card {
  text-align: center;
}

.container {
  background-color: rgb(255, 166, 0);
  margin: 0;
  padding: 0;
}

.navbar-badays {
  font-family: "Nunito Sans";
}

.d-flex {
  color: #000000;
}

/* Footer Styles */
a {
  color: #ffc107;
  text-decoration: underline;
}
a.politicas-de-devolucion {
  display: flex;
}
a.sobre-nosotross {
  color: #ffc107;
}

/*:::::Pie de Pagina*/
.pie-pagina {
  width: 100%;
  background-color: #000000;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 5px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #ffbb00;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}/*# sourceMappingURL=estilo.css.map */