body{
    background-image: url(../assets/body-fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
  }



.d-item{
    height: 750px;
}
.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.nuevos-disenos-tshirts{
    padding: 30px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1a1a1a

}

h2{
    font-size: 35px;
    font-family:$font-open-sans;
}

.card-sub{
    color: aliceblue;
    text-align: center;
    flex-grow: 70;
}


.card-texto{
    color: #ffda08;
    font-family:$font-nunito;
    text-align: left;
    flex-grow: 44444;
}

.card-titulo{
    color: rgba(255, 183, 0, 0.925);
    font-family:$font-nunito;
}

.text-bg-d{
    background-color: $primary-bg-color;
}

.text-uppercase{
    color: #ffd000d7;
    font-family:$font-nunito;
}
.text-capitalize{
    color: #f8ea9d;
    font-family:$font-nunito;
}

.video-badays{
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    background-color: #242323;
    display: flex;
}

