.sobre-nosotros {
    text-align: center;
    background-image: url(/assets/papel-fondo.jpg);
    color: #343a40;
    font-size: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}
  
    // Estilos para el texto en negrita con color
    strong.negrita-color {
      color: #ffc107;
    }
    
    // Estilos para valores
    .valores {
      color: #ffc100;
      font-size: 30px;
    }



