.nav-background{

    background-color:$link-bg-color;
}

.card{
    text-align: center;
}

.container {
    @include container-style (rgb(255, 166, 0));
  }

.navbar-badays{
    font-family:$font-nunito;
}
.d-flex{
    color: $primary-bg-color;
}
