.container-items {
  @include container-items-style;
}
  
  .cart-empty {
    padding: 20px;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  h2 {
    font-size: 25px;
    font-family: $font-nunito;
  }
.descuento{
    font-size: 18px;
    font-weight: 900;
    color: crimson
}
