
  @mixin container-style($link-bg-color) {
    background-color: (rgb(255, 166, 0));
    margin: 0;
    padding: 0;
  }

  @mixin icon-cart-style {
    width: 40px;
    height: 40px;
    stroke: $primary-bg-color;
  
    &:hover {
      cursor: pointer;
    }
  }

 
