@mixin body-background($bg-img-body) {
    background-image: url(/assets/body-fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
  }

  @mixin container-style($link-bg-color) {
    background-color: (rgb(255, 166, 0));
    margin: 0;
    padding: 0;
  }

  @mixin icon-cart-style {
    width: 40px;
    height: 40px;
    stroke: $primary-bg-color;
  
    &:hover {
      cursor: pointer;
    }
  }

  @mixin container-items-style {
    padding: 30px 0 40px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 700px);
    gap: 20px;
    background-color: $text-color-white;
  
    .item {
      border-radius: 10px;
  
      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
      }
  
      img {
        width: 65%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        transition: all 0.5s;
      }
  
      figure {
        overflow: hidden;
      }
  
      &:hover img {
        transform: scale(1.2);
      }
  
      .info-product {
        padding: 15px 30px;
        line-height: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;
  
        .price {
          font-size: 18px;
          font-weight: 900;
        }
  
        button {
          border: none;
          background: none;
          background-color: $primary-bg-color;
          color: #ffda08;
          padding: 15px 10px;
          cursor: pointer;
        }
      }
    }
  }
  @mixin carouselE1 {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }