//variables colors>>>>>

$primary-bg-color: #000000;
$secondary-bg-color: #0a1a2a;
$link-bg-color: #ffbb00;
$link-hover-color: aqua;
$text-color-white: #fff;
$text-color-light: #efefef;
$highlight-color: #ffda08;

//variables fonts>>>>>
$font-nunito: "Nunito Sans";
$font-open-sans: "Open Sans";
$font-open-serif: "sans-serif";

//variables imagenes>>>>>

